<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.30.150\sql2008;Initial Catalog=TemplateMVC;User Id=TemplateMVC;Password=MzSp9LDkWo993" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>